.center {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #CAD2C5;
}


h1 {
  font-family: fantasy;
  font-style: normal;
  text-align: center;
  color: #303633;
  font-size: 80px;
}

h3 {
  color: #303633;
  font-size: 45px;
  font-family: fantasy;
  font-style: normal;
}

.centerText {
  text-align: center;
}


.imageThumbnail {
  display: block;
  float: left;
  margin-left: 20%;
  object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.imageThumbnailCenter {
  display: block;
  /*float:left;*/
  margin-left: auto;
  margin-right: auto;
  border: 10px solid #EBEBEB;
  border-radius: 0px;
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.recipeThumbnailText {
  padding-left: 10%;
}

.beanSelectorContainer {
  display: flex;
  justify-content: center;
}

.beanSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.beanRecipeTile {
  width: 8em;
  height: auto;
  /*background-color: blue;*/
  border: solid 1px black;
  margin: 0px 10px 10px 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.pintoBeanRecipeTile {}

.pic {
  max-width: 100%;
  object-fit: cover;
  width: 230px;
  height: 230px;

}


.recipeBox {
  background-color: #EBEBEB;
  padding: 15px;
  text-align: left;
  float: center;
  margin-left: 15%;
  margin-right: 15%;


}


.groupNames {
  font-size: 10px;
  color: #303633;
  margin-left: 10px;
}


.card {
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

}


h4 {

  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  letter-spacing: 2px;
}

h4 {

  padding: 30px;
  background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }

  60% {
    background-position: 600px;
  }

  100% {
    background-position: 50%;
  }
}

.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
