.center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #F8F0E3;
}


h1{
  text-align: center;  
}

.centerText
{
    text-align: center;
}


.imageThumbnail
{
  display: block;
  float:left;
  margin-left: 20%;
    object-fit: cover;
  width: 230px;
  height: 230px;
  border-radius: 50%;
}

.recipeThumbnailText
{
    padding-left: 10%;
}

.beanSelectorContainer {
  display: flex;
  justify-content: center;
}

.beanSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}

.beanRecipeTile {
  width: 8em;
  height: auto;
  /*background-color: blue;*/
  border: solid 1px black;
  margin: 0px 10px 10px 10px;
  align-items:center;
  display: flex;
  flex-direction: column;
}

.pintoBeanRecipeTile {
  
}

.pic {
  max-width: 100%;
  
}