.center {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body{
    background-color: #F8F0E3;
}


h1{
  text-align: center;  
}

.centerText
{
    text-align: center;
}